.idea
Library
UserSettings
Temp
obj
Logs
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
CsharpMainProject.sln
.vs/CSharpMainProject/FileContentIndex/9c193a95-cdfa-4592-bc48-0f2c8c96bad6.vsidx
*.vsidx
